*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scrollbar-width: 0;
    
}


.white-theme{
    --primary-color: white;
    --secondary-color: black;
}

:root{
    --primary-color: black;
    --secondary-color: white;
}

body{
    background-color: var(--primary-color);
}

nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
   border-bottom: 2px solid rgb(24, 24, 24);
   background-color: var(--primary-color);
}

nav h2{
    background-color: transparent;
    color: var(--secondary-color);
}

nav h2 a{
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
}

nav h2 span{
       color: rgb(229, 5, 5);
}

nav .elements{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: transparent;
}

nav .elements li{
    list-style: none;
}

nav .elements li a{
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
     color: var(--secondary-color);
}

nav .elements li #about{
    color: #f63f48;
}

nav .elements li a:hover{
    cursor: pointer;
    color: #f63f48;
    transition: background-color 0.2s ;
}


.mode{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mode i{
    font-size: 25px;
    background-color: transparent;
     color: var(--secondary-color);
     cursor: pointer;
}

.mode button a{
    text-decoration: none;;
    font-size: 17px;
    color: var(--primary-color);
    font-weight: bold;

}

.mode #moon:hover{
    transition: 0.2s;
}

.mode button{
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    display: none;
    
}

.mode button:hover{
    background-color: rgb(198, 39, 25);
    transition: 0.2s ;
}

.mode #sun:hover{
    transform: rotate(90deg);
    transition: transform 1s;
}

.mode #moon{
    display: none;
}

.mode #bar{
    display: none;
}

nav .sidenav{
    position: absolute;
    width: 35%;
    height: 30%;
    background-color: rgba(1, 1, 1, 0.258);
    top: 75px;
    left: 65%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    display: none;
}

nav .sidenav .elements{
    display: flex;
    flex-direction: column;
}

nav .sidenav .elements a{
    display: flex;
    color: var(--secondary-color);
    
}

nav .sidenav .elements a:hover{
    cursor: pointer;
    color: #f63f48;
}


.nav .sidenav{
    display: none;
}

.content{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    gap:20vw;
    background-color: var(--primary-color);
}

.caption{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.caption h3{
    margin-left: 100px;
    color: var(--secondary-color);
}


.caption .container{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
   

}

.caption .container{
    width: 20vw;
    height: 50px;
    color: var(--secondary-color);
}
.caption .box{
    background-color: var(--secondary-color);
    width: 65px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.caption p{
    font-weight: lighter;
}

.caption i{
    font-size: 30px;
    color: var(--primary-color);
}

.image{
    width: 40vw;
    height: 50vh;
    background-image: url(contact\ image.png);
    background-size: cover;
}

@media (max-width:870px) {
    nav .elements a{
        display: none;
    }
    .mode #sun{
        display: block;
    }

    .mode #bar {
        display: block;
    }
    .content{
        flex-direction: column;
    }

    .caption .container{
        margin-left: -100px;
       
    }

    .image{
        width: 100vw;
        height: 50vh;
        background-image: url(contact\ image.png);
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: center
    }

    .caption h3{
        margin-left: 0px;
        color: var(--secondary-color);
        margin-top: 100px;
    }

    .caption .box{
        background-color: var(--secondary-color);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    
    }

    .content{
        gap:5vw;
        
    }
};
