*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: lightsteelblue;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}

html,body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0;
}

nav{
    width: 100vw;
    height: 70px;
    background: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgb(31, 31, 31) 47%, rgb(31, 31, 31) 70%, rgba(9,9,9,1) 100%);;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 50px;

}

nav a{
    font-size: 25px;
    font-weight: bold;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo h1{
    font-size: 30px;
    margin-left: 30px;
}

ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

ul a li{
   list-style: none;
   font-size: 20px;
   font-weight: lighter;
  
}


ul a li:hover{
    color:#f63f48;
    transition: 0.2s ease-in;
}

.join button{
    background-color: lightsteelblue;
    padding: 8px 17px;
    outline: none;
    border: none;
    border-radius: 25px;

}

.join button:hover{
    cursor: pointer;
    background-color:#f63f48;
    color: black;
    transition: 0.2s ease-in;
}

.join button a{
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.join button a i{
    color: black;
}

.bar{
    display: none;
}



.main{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgb(31, 31, 31) 47%, rgb(31, 31, 31) 70%, rgba(9,9,9,1) 100%);;
}

.form1{
    width: 370px;
    height: 470px;
    border: 2px solid rgb(30, 33, 51);
    border-radius: 15px;
    left: 50%;
    top: 60%;
    transform: translate(-50% , -50%);
    position: absolute;
    padding: 10px 35px;
    color: white;
    animation-name: animation;
    animation-duration: 2s;

}

@keyframes animation {
    from{
        opacity: 0;
    }

    to{
        opacity: 100;
    }
}

.form1 h1{
      text-align: center;
}

.form1 h3{
    margin-top: 30px;
    font-weight: 400;
}

.form1 input{
    height: 30px;
    width: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color:white;
    font-size: 15px;
}

.remember{
    display: inline-block;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap:10px;
}

.remember input{
    width: 20px;
}

.remember p a{
    color: white;
    text-decoration: none;
    margin-left: 1vw;
}

.form1 button{
    width: 95%;
    border-radius: 12px;
    padding: 7px;
    outline: none;
    border: none;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: #017864;
    color: white;
}

.form1 button:hover{
    background-color: #064e42;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form1 .register{
    margin-top: 30px;
}

.form1 .register a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}

.form{
    width: 380px;
    height: fit-content;
    border: 2px solid rgb(30, 33, 51);
    border-radius: 15px;
    left: 50%;
    top: 55%;
    transform: translate(-50% , -50%);
    position: absolute;
    padding: 10px 35px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: none;
    animation-name: animation2;
    animation-duration: 2s;

}

@keyframes animation2 {
    from{
        opacity: 0;
    }

    to{
        opacity: 100;
    }
}

.form h1{
    text-align: center;
    color: white;
}

.form h3{
  margin-top: 30px;
  font-weight: 400;
  color: white;
}

.form input{
  height: 30px;
  width: 95%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  color:white;
  font-size: 15px;
}

.form .signup{
    background-color: #017864;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
}

.form .signup:hover{
    cursor: pointer;
    background-color: #065649;
    color: white;
    transition: background-color 0.2s ease-in-out ;
}

.form P{
    margin-top: 30px;
    text-align: center;
    color: white;
}

.form p a{
    text-decoration: none;
    color: white;
}

.form #or{
    text-align: center;
}

.form .with-container{
    display: flex;
    align-items: center;
    width: 95%;
    height: 7vh;
    padding: 4px;
    border: 1.5px solid rgb(43, 43, 43);
    border-radius: 15px;
    margin-top: 10px;
    background-color: var(--primary-color);
}

.form .with-container:hover{
    cursor: pointer;
    background-color: rgb(72, 92, 110);
    transition: background-color 0.2s;
}
.form img{
    width: 35px;
}

.form button{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -1px;
   cursor: pointer;
}



@media (max-width:870px) {

    nav ul a li{
        display: none;
    }

    .join{
        display: none;
    }
    
}