@import url(./CSS/navbar.css);
@import url(./CSS/Page1.css);
@import url(./CSS/SideNav.css);
@import url(./CSS/About.css);
@import url(./CSS/Project.css);
@import url(./CSS/Footer.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--gray);
    font-family: sans-serif;
}

::selection{
    background-color:rgba(255, 48, 86, 0.811);
    color: var(--bwhite);
}

:root{
    --red:#FF3366;
    --lightRed: #5b071c;
    --black:#121212e0;
    --gray:#beb8b8;
    --bwhite:#E8EAEB;
}

p{
    color: #8888;
}

span{
    color:var(--red)
}


::-webkit-scrollbar{
    width: 0px;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #101010;
    
}

.main {
    width: 100vw;
    position: absolute;
    background-color: #121212;   
 /* background-image: url(https://images.unsplash.com/photo-1642850356603-ca6295576249?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-size: cover;
}





