*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
    
}


.white-theme{
    --primary-color: white;
    --secondary-color: rgb(44, 44, 44);
}

:root{
    --primary-color:background: rgb(16,16,16);
    background: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgb(31, 31, 31) 47%, rgb(31, 31, 31) 70%, rgba(9,9,9,1) 100%);;
    --secondary-color: white;
}

nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
   background-color: var(--primary-color);
}

nav h2{
    background-color: transparent;
    color: var(--secondary-color);
}

nav h2 a{
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
}

nav h2 span{
       color: red;
       
}

nav .elements{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: transparent;
}

nav .elements li{
    list-style: none;
}

nav .elements li a{
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
     color: var(--secondary-color);
}


nav .elements li #home{
    color: #f63f48;
}

nav .elements li a:hover{
    cursor: pointer;
    color: #f63f48;
    transition: background-color 0.2s ;
}


.mode{
    display: flex;
    align-items: center;
}

.mode i{
    font-size: 25px;
    background-color: transparent;
     color: var(--secondary-color);
     cursor: pointer;
}

.mode button a{
    text-decoration: none;;
    font-size: 17px;
    color: black;
    font-weight: bold;

}

.mode #moon:hover{
    transition: 0.2s;
}

.mode button{
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    
}

.mode button:hover{
    background-color: rgb(198, 39, 25);
    transition: 0.2s ;
}
.mode #sun:hover{
    transform: rotate(90deg);
    transition: transform 1s;
}

.mode #moon{
    display: none;
}

.mode #bar{
    display: none;
}

.icon-bar{
    width: 18%;
    height: 50%;
    border: 1px solid rgb(105, 105, 105);
    position: absolute;
    top:80px;
    left: 80%;
    padding: 15px;
    border-radius: 15px;
    display: none;
    
}

nav .sidenav{
    position: absolute;
    width: 35%;
    height: 30%;
    background-color: rgba(1, 1, 1, 0.258);
    top: 75px;
    left: 65%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    display: none;
}

nav .sidenav .elements{
    display: flex;
    flex-direction: column;
}

nav .sidenav .elements a{
    display: flex;
    color: var(--secondary-color);
    
}

nav .sidenav .elements a:hover{
    cursor: pointer;
    color: #f63f48;
}


.nav .sidenav{
    display: none;
}


.content1{
width: 60vw;
height: calc(100vh - 70px);
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 13%;


}

.content1 h1{
    width: fit-content;
    background-color: transparent;
    font-size: 60px;
    animation-name: h1;
    animation-duration: 2.5s;
     color: var(--secondary-color);

}

@keyframes h1 {
    from{margin-left: -100px;}
    to{margin-left: 0px;}
}

.content1 h1 span{
    color: #f63f48;
}

.content1 p{
    background-color: transparent;
    font-size: 17px;
    margin-top: 3vh;
    animation-name: p;
    animation-duration: 2s;
     color: var(--secondary-color);
}

@keyframes p {
    from{margin-top: -100px;}
    to{margin-top:20px;}
}
.content1 .button{
    display: flex;
    gap: 5vw;
}

.content1 .button #btn a{
    color: var(--secondary-color);
    text-decoration: none;
}

.content1 .button #sign-in-btn{
    display: none;
}

.content1 button{
    width: fit-content;
    background-color: transparent;
    margin-top: 5vh;
    padding: 7px 17px;
    font-size: 15px;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgba(182, 5, 5, 0.586);
    background-color: transparent;
    color: var(--secondary-color);
    font-weight: bold;
}

.content1 button:hover{
    cursor: pointer;
    background-color: #f63f48;
    color: black;
    transition: background-color 0.2s ;
}

.content1 .icons{
    background-color: transparent;
    margin-top: 15vh;
    display: flex;
    gap: 1vw;
}

.content1 .icons a i{
    font-size: 25px;
    background-color: transparent;
     color: var(--secondary-color);
}

.content1 .icons a{
    text-decoration: none;
}

.content1 .icons i:hover{
    cursor: pointer;
    color: #f63f48;
    transition: background-color 0.2s ;
}

main{
    display: flex;
   background-color: var(--primary-color);
}


.profile{
    width: 45%;
    height: 95%;
 
}

.profile img{
    position: absolute;
    top: 58%;
    left: 80%;
    transform: translate(-50% , -50%);
    animation-name: img;
    animation-duration: 2s;
}

@keyframes img {
    from{margin-left: 100px;}
    to{margin-left: 0px;}
    
}
.profile #back{
    width: 500px;
    
    
}


.profile #anish{
    width: 400px;
}

  
@media (max-width:1250px){

    .profile img{
        position: absolute;
        top: 58.9%;
        left: 80%;
        transform: translate(-50% , -50%);
       }

    
    .profile #back{
        width: 400px;
       
    }

    .profile #anish{
        width: 350px;
        
    }
    
}


@media (max-width:870px) {

    nav .elements a{
        display: none;
    }

    .mode #bar{
        display: block;
        padding-left: 10px;
    }

    nav button{
        display: none;
    }

    .nav .sidenav{
        display: block;
    }
   
    main{
        display: flex;
        flex-direction: column;
    }

    
.content1{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    align-items: center;
    
    
    }

    .content1 .responsive{
        width: 370px;
        height: 370px;
        background-image: url(image.png);
        background-size: 240px;
        background-position-x: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        
    }

    .content1 h1{
        margin-top: 5%;
        padding: 10px;
        font-size: 35px;
    }

    .content1 p{
        margin-top: 5px;
        padding: 10px;
        font-size: 15px;
    }

    .profile img{
       display: none;
    
    }

    .content1 .button #sign-in-btn{
        display: block;
        padding: 0px 30px;
        
    }

    .content1 .button #sign-in-btn a{
        text-decoration: none;
        color: var(--secondary-color);
    }

    

    .content1 .icons{
        background-color: transparent;
        margin-top: 15vh;
        display: flex;
        gap: 5vw;
    }

    .button #sign-in-btn{
        color: var(--primary-color);
    }

    @keyframes p {
        from{margin-top: -100px;}
        to{margin-top:5px;}
    }
}