*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:lightsteelblue;
    font-family:Arial, Helvetica, sans-serif;
}

html,body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0;
}

.main{
    width: 100vw;
    height: fit-content;
    background-image: url(https://images.unsplash.com/photo-1642850356603-ca6295576249?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;

}

nav{
    width: 100vw;
    height: 70px;
    /* background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(18, 18, 18, 0.744) 47%, rgb(20, 19, 19) 70%, rgba(9,9,9,1) 100%); */
    background-color: rgba(0, 0, 0, 0.666);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 50px;

}

nav a{
    font-size: 25px;
    font-weight: bold;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo img{
    width: 30px;
}

.logo h2{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(237, 41, 41);
font-size: 23px;
}

ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

ul a li{
   list-style: none;
   font-size: 20px;
   font-weight: lighter;
  
}


ul a li:hover{
    color:rgb(237, 41, 41);
    transition: 0.2s ease-in;
}

#home{
    color: rgb(237, 41, 41);
}


.join button{
    background-color:lightsteelblue;
    padding: 8px 17px;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 8px 15px rgba(87, 87, 87, 0.886);
}

.join button:hover{
    cursor: pointer;
    background-color:rgb(237, 41, 41);
    color: black;
    transition: 0.2s ease-in;
}

.join button a{
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.join button a i{
    color: black;
}

.bar{
    display: none;
}

.page1{
    width: 100vw;
    height: calc(100vh - 70px);
    /* background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(18, 18, 18) 47%, rgb(20, 19, 19) 70%, rgba(9,9,9,1) 100%); */
    background-color: rgba(0, 0, 0, 0.666);
    display: flex;
}

.part1{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-left: 200px;
    flex-direction: column;
}

.part1 h1{
    font-size: 60px;
    color:lightsteelblue;
}

.part1 h1 span{
  color: rgb(235, 58, 58);
}

.part1 p{
    font-size: 17px;
    margin-top: 20px;
}

.explore button{
    border: none;
    background-color:lightsteelblue;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

.explore button:hover{
    cursor: pointer;
    background-color:rgb(237, 41, 41);
    transition:0.3s ease-in;
}

.explore button i{
    color: black;
}

.social{
    margin-top:100px;
    display: flex;
    gap: 20px;
}

.social a i{
    color:lightsteelblue;
    font-size: 27px;
    text-shadow: 5px 8px 5px rgb(121, 120, 120);
}

.social a i:hover{
    cursor: pointer;
    color:rgb(237, 41, 41);
}
.part2{
    width: 600px;
    height: 100%;
    position: relative;
    flex-wrap: nowrap;
    overflow: hidden;
}

.part2 img{
   position: absolute;
   width: 400px;
   margin-top: 20px;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}

.part2 #back{
    width: 500px;
    filter: drop-shadow(2px 2px 8px black) saturate(0.);
    
}

.part2 #front{
    width: 400px;
    filter: contrast(1.2);
   margin-top: 55%;
}


.sidenav{
    display: none;
}


.page2{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.666);
    padding: 50px;
    overflow: hidden;
}

.page2 h1{
    color:lightsteelblue;
}

.page2 span{
    color:lightsteelblue;
}

.page2 .projects{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.page2 .projects .project1,.project2,.project3{
    width: 30vw;
    height: 40vh;
    border-top: 2px solid #f1f1f1;
    padding: 20px;
}

.project2{
    margin-top: -100px;
}

.project3{
    margin-top: -200px;
}

.project-container{
    width: 100%;
    height: 230px;
}

.image1{
    background-image: url(image/animation.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.image2{
    background-image: url(image/nike.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.image3{
    background-image: url(image/netflix.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

footer{
    width: 100vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.666);
    padding: 50px;
    display: flex;
    justify-content: space-between;
}


footer .footer-part1{
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-part1 h1{
    font-size: 30px;
    margin-left: 30px;
}

footer .footer-part1 .icons{
    display: flex;
    gap:20px;
}

footer .footer-part1 .icons i{
    font-size: 25px;
}

footer .footer-part1 .gmail{
    margin-top:150px;
}

#facebook i{
    color:rgb(65, 0, 217);
}

#insta i{
    background: -webkit-linear-gradient(#833AB4, #fd1d1d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#linkdin i{
     color:#1469c7;
}

.footer-part2{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;

}
.footer-part2 a img{
   width: 50px;
}

.library{
    display: flex;
    align-items: center;
    gap:10px;
}

#gsap{
    font-style: italic;
    color: #14e54d;
}

@media (max-width:1290px){

.part2 #front{
    width: 400px;
    filter: contrast(1.2);
   margin-top: 60%;
}
    
}


@media (max-width:1270px){

    .part2 #front{
        width: 400px;
        filter: contrast(1.2);
       margin-top: 65%;
    }
        
    }

@media (max-width:870px) {
    .main{
        position: relative;
    }
    .page1{
        flex-direction: column-reverse;
    }

    .page1 .part1{
        width: 100vw;
        display: flex;
        align-items: center;
    }

    .page1 h1{
        font-size: 35px;
        width: 100vw;
        text-align: center;
    }

    .part1 p{
        font-size: 17px;
        text-align: center;
        padding:0px 20px;
    }

    .join button{
        display: none;
    }

    nav ul{
        display: none;
    }

    .bar{
        display: block;
    }
    .bar i{
        font-size: 23px;
    }

    .explore button{
        float: left;
    }

    .part2{
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .part2 #back{
        width: 500px;
        filter: drop-shadow(2px 2px 8px black);
        display: none;
    }
    
    .part2 #front{
        width: 200px;
        filter: contrast(1.2);
       display: none;
    }

    .part2 .profile{
        width: 80vw;
        height: 40vh;
        background-image: url("image/image.png");
        background-size: 300px;
        background-position-x:center ;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-top: 10px;
    }

    .page1 .part1{
        width: 100vw;
        padding-left:0px;
        padding: 0px 10px;

    }

    .sidenav{
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.208);
        top: 0;
        backdrop-filter: blur(10px);
        right: -100vw;
    }
     
    .sidenav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        gap: 30px;
        
    }

    ul a li{
        font-size: 25px;
        color: rgb(184, 184, 184);
        font-weight: bold;
    }

    .sidenav i{
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 50%;
        position: absolute;
        top: 3%;
        right: 5%;
        font-size: 30px;
    }
     
    .page2{
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap:50px;
    }
.page2 .projects{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.page2 .projects .project1,.project2,.project3{
    width: 90vw;
    height: fit-content;
}

footer{
    flex-direction: column-reverse;
    align-items: center;
    gap:60px;
    height: 45vh;
}

.footer-part1,.footer-part2{
    width: 100vw;
    gap:5px;
}

.gmail{
    display: none;
}


}